Repository Spark-NF/organizer: changes, and which Codecov flags are due for each by the changed paths.
All: Library, CLI, GUI

.codecov.yml:

codecov:
  branch: master

coverage:
  ignore:
    - "build/**/*"
    - "src/tests/*"
    - "src/tests/**/*"
    - "src/*/tests/*"
    - "src/*/tests/**/*"
    - "src/vendor/*"
    - "src/vendor/**/*"

component_management:
  individual_components:
    - component_id: lib
      name: Library
      paths:
        - src/lib/**
    - component_id: cli
      name: CLI
      paths:
        - src/cli/**
    - component_id: gui
      name: GUI
      paths:
        - src/gui/**

refactor: dispatch condition type via "type" key
  docs/configuration/conditions/index.md
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/tests/conditions/condition-loader-test.cpp
Due: Library

feat: write regex named capture groups into media data after match
  docs/configuration/actions/rename.md
  docs/configuration/conditions/comparator.md
  src/cli/tests/cli-test.cpp
  src/gui/tests/main-window-test.cpp
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/rename-action.cpp
  src/lib/src/actions/rename-action.h
  src/lib/src/conditions/comparators/and-comparator.cpp
  src/lib/src/conditions/comparators/and-comparator.h
  src/lib/src/conditions/comparators/comparator.h
  src/lib/src/conditions/comparators/glob-comparator.cpp
  src/lib/src/conditions/comparators/glob-comparator.h
  src/lib/src/conditions/comparators/in-comparator.cpp
  src/lib/src/conditions/comparators/in-comparator.h
  src/lib/src/conditions/comparators/not-comparator.cpp
  src/lib/src/conditions/comparators/not-comparator.h
  src/lib/src/conditions/comparators/or-comparator.cpp
  src/lib/src/conditions/comparators/or-comparator.h
  src/lib/src/conditions/comparators/range-comparator.cpp
  src/lib/src/conditions/comparators/range-comparator.h
  src/lib/src/conditions/comparators/regex-comparator.cpp
  src/lib/src/conditions/comparators/regex-comparator.h
  src/lib/src/conditions/condition.cpp
  src/lib/src/conditions/condition.h
  src/lib/src/conditions/content-condition.cpp
  src/lib/src/conditions/loader-condition.cpp
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/actions/multiple-action-test.cpp
  src/lib/tests/actions/rename-action-test.cpp
  src/lib/tests/conditions/comparators/regex-comparator-test.cpp
  src/lib/tests/profile-loader-test.cpp
  src/lib/tests/rules/rule-test.cpp
Due: Library, CLI, GUI

fix: update conflict-window test to use LoaderCondition instead of abstract Condition
  src/drop/tests/conflict-window-test.cpp
Due: none

feat: add PDF content extractor
  docs/configuration/conditions/index.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/extractors/pdf-text-extractor.cpp
  src/lib/src/conditions/extractors/pdf-text-extractor.h
  src/lib/tests/conditions/condition-loader-test.cpp
  src/lib/tests/conditions/extractors/pdf-text-extractor-test.cpp
  src/lib/tests/resources/sample.pdf
Due: Library

chore: add miniz 3.0.2 to vendor files
  .codecov.yml
  src/lib/CMakeLists.txt
  src/lib/vendor/miniz/LICENSE
  src/lib/vendor/miniz/miniz.c
  src/lib/vendor/miniz/miniz.h
Due: Library

feat: add DOCX content extractor
  docs/configuration/conditions/index.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/extractors/docx-text-extractor.cpp
  src/lib/src/conditions/extractors/docx-text-extractor.h
  src/lib/tests/conditions/extractors/docx-text-extractor-test.cpp
  src/lib/tests/resources/sample.docx
Due: Library

buil: install exiftool and pdftotext during tests
  .github/workflows/build.yml
Due: none

docs: fix mentions of master instead of main
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  src/dist/linux/organizer.appdata.xml
Due: none

feat: add action for writing to text files
  docs/configuration/actions/write.md
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/write-action.cpp
  src/lib/src/actions/write-action.h
  src/lib/src/filesystem/filesystem.h
  src/lib/src/filesystem/real-filesystem.cpp
  src/lib/src/filesystem/real-filesystem.h
  src/lib/src/filesystem/simulated-filesystem.cpp
  src/lib/src/filesystem/simulated-filesystem.h
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/actions/write-action-test.cpp
Due: Library

feat: add --watch flag to CLI
  docs/cli/index.md
  src/cli/src/cli.cpp
  src/cli/src/cli.h
  src/cli/src/folder-watcher.cpp
  src/cli/src/folder-watcher.h
  src/cli/tests/cli-test.cpp
  src/cli/tests/folder-watcher-test.cpp
Due: CLI

docs: add "Getting started" page
  docs/getting-started.md
Due: none

docs: list features in README.md
  README.md
Due: none

docs: remove generator info from footer
  mkdocs.yml
Due: none

docs: enable tab navigation
  .github/workflows/docs.yml
  docs/.pages
  docs/cli.md
  mkdocs.yml
Due: none

docs: add GitHub link in footer
  mkdocs.yml
Due: none

feat: add stdout matching to process condition
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/process-condition.cpp
  src/lib/src/conditions/process-condition.h
  src/lib/tests/conditions/process-condition-test.cpp
Due: Library

docs: hide navigation and TOC in homepage
  docs/.pages
  docs/index.md
Due: none

docs: re-order configuration sub-pages
  docs/configuration/.pages
Due: none

docs: improve the looks of the homepage
  README.md
  docs/assets/css/home.css
  docs/assets/img/screenshots/manual.png
  docs/index.md
  docs/theme/home.html
  mkdocs.yml
Due: none

feat: add kb/mb/gb/human filters for numeric values in templates
  docs/configuration/conditions/loader.md
  src/lib/src/template-string.cpp
  src/lib/tests/template-string-test.cpp
Due: Library

docs: enable instant navigation
  docs/theme/home.html
  mkdocs.yml
Due: none

docs: add indicator for external links in navbar
  docs/assets/css/extra.css
  docs/theme/main.html
  mkdocs.yml
Due: none

feat: add "file kind" loader
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/loaders/kind-loader.cpp
  src/lib/src/conditions/loaders/kind-loader.h
  src/lib/src/loader-loader.cpp
  src/lib/tests/conditions/loaders/kind-loader-test.cpp
Due: Library

feat: add plugin system using JSONL protocol
  docs/.pages
  docs/plugins/index.md
  docs/plugins/writing-plugins.md
  mkdocs.yml
  src/cli/src/cli.cpp
  src/drop/src/main.cpp
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/plugin-action.cpp
  src/lib/src/actions/plugin-action.h
  src/lib/src/conditions/loaders/plugin-loader.cpp
  src/lib/src/conditions/loaders/plugin-loader.h
  src/lib/src/loader-loader.cpp
  src/lib/src/plugin-registry.cpp
  src/lib/src/plugin-registry.h
  src/lib/src/processes/plugin-process.cpp
  src/lib/src/processes/plugin-process.h
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/actions/plugin-action-test.cpp
  src/lib/tests/conditions/condition-loader-test.cpp
  src/lib/tests/conditions/loaders/plugin-loader-test.cpp
  src/lib/tests/plugin-registry-test.cpp
  src/lib/tests/resources/test-plugin/plugin.json
  src/lib/tests/resources/test-plugin/plugin.py
Due: Library, CLI

docs: fix file edit path
  mkdocs.yml
Due: none

feat: add "scene" loader using guessit plugin
  .github/workflows/build.yml
  docs/configuration/conditions/loader.md
  docs/plugins/index.md
  setup/setup.iss
  src/CMakeLists.txt
  src/lib/src/plugin-registry.cpp
  src/plugins/CMakeLists.txt
  src/plugins/src/scene/plugin.json
  src/plugins/src/scene/plugin.py
  src/plugins/tests/main.cpp
  src/plugins/tests/scene-test.cpp
Due: Library

fix: empty filter not working for dirs
  src/lib/src/conditions/loaders/empty-loader.cpp
Due: Library

tests: add more tests for coverage
  src/cli/tests/cli-test.cpp
  src/lib/CMakeLists.txt
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/actions/copy-action-test.cpp
  src/lib/tests/actions/delete-action-test.cpp
  src/lib/tests/actions/hard-link-action-test.cpp
  src/lib/tests/actions/move-action-test.cpp
  src/lib/tests/actions/process-action-test.cpp
  src/lib/tests/actions/rename-action-test.cpp
  src/lib/tests/actions/shortcut-action-test.cpp
  src/lib/tests/actions/symbolic-link-action-test.cpp
  src/lib/tests/actions/trash-action-test.cpp
  src/lib/tests/actions/write-action-test.cpp
  src/lib/tests/conditions/comparators/and-comparator-test.cpp
  src/lib/tests/conditions/comparators/in-comparator-test.cpp
  src/lib/tests/conditions/comparators/not-comparator-test.cpp
  src/lib/tests/conditions/comparators/or-comparator-test.cpp
  src/lib/tests/conditions/comparators/range-comparator-test.cpp
  src/lib/tests/conditions/condition-loader-test.cpp
  src/lib/tests/conditions/extractors/plain-text-extractor-test.cpp
  src/lib/tests/conditions/loader-condition-test.cpp
  src/lib/tests/conditions/loaders/empty-loader-test.cpp
  src/lib/tests/conditions/loaders/exif-loader-test.cpp
  src/lib/tests/conditions/loaders/id3-loader-test.cpp
  src/lib/tests/conditions/process-condition-test.cpp
  src/lib/tests/filesystem/failing-filesystem.h
  src/lib/tests/filesystem/simulated-filesystem-test.cpp
  src/lib/tests/operation-logger-test.cpp
  src/lib/tests/profile-loader-test.cpp
  src/lib/tests/rules/rule-loader-test.cpp
  src/lib/tests/template-string-test.cpp
Due: Library, CLI
