Repository Spark-NF/organizer: changes, and which Codecov flags are due for each by the changed paths.
All: Library, CLI, GUI

.codecov.yml:

codecov:
  branch: master

coverage:
  ignore:
    - "build/**/*"
    - "src/tests/*"
    - "src/tests/**/*"
    - "src/*/tests/*"
    - "src/*/tests/**/*"
    - "src/vendor/*"
    - "src/vendor/**/*"

component_management:
  individual_components:
    - component_id: lib
      name: Library
      paths:
        - src/lib/**
    - component_id: cli
      name: CLI
      paths:
        - src/cli/**
    - component_id: gui
      name: GUI
      paths:
        - src/gui/**

tests: introduce waitFor helper functions
  src/drop/tests/conflict-window-test.cpp
  src/gui/tests/main-window-test.cpp
  src/gui/tests/main.cpp
  src/tests/src/test-utils.cxx
  src/tests/src/test-utils.h
Due: GUI

tests: add import guard to catch.h
  src/vendor/catch.h
Due: none

refactor: introduce getMenuAction test helper
  src/gui/tests/main-window-test.cpp
  src/tests/src/test-utils.cpp
  src/tests/src/test-utils.h
Due: GUI

tests: fix tests linked libraries
  src/tests/CMakeLists.txt
Due: none

feat: add icon to drop-related windows
  src/drop/resources/resources.qrc
  src/drop/src/command-window.ui
  src/drop/src/conflict-window.ui
  src/drop/src/drop-window.ui
Due: none

feat: update titles of drop-related windows
  src/drop/src/command-window.ui
  src/drop/src/conflict-window.ui
  src/drop/src/drop-window.ui
Due: none

feat: auto-resize drop results table columns
  src/drop/src/command-window.cpp
Due: none

build: bump Qt to 6.10.0
  .github/workflows/build.yml
Due: none

build: add missing include in test-utils.cxx
  src/tests/src/test-utils.cxx
Due: none

build: set CMAKE_POLICY_VERSION_MINIMUM for macOS build
  .github/workflows/build.yml
Due: none

feat: add support for relative move actions
  docs/configuration/actions/move.md
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/move-action.cpp
  src/lib/src/actions/move-action.h
  src/lib/tests/actions/move-action-test.cpp
  src/lib/tests/actions/multiple-action-test.cpp
  src/lib/tests/rules/rule-test.cpp
Due: Library

docs: use 4 spaces in JSON example for shortcut action
  docs/configuration/actions/shortcut.md
Due: none

refactor: eliminate unnecessary copies
  src/drop/src/drop-window.cpp
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/rename-action.cpp
  src/lib/src/conditions/condition.cpp
  src/lib/src/profile-loader.cpp
  src/lib/src/profile.cpp
  src/lib/src/profile.h
  src/lib/src/rules/rule-loader.cpp
  src/lib/src/rules/rule.cpp
  src/lib/src/rules/rule.h
Due: Library

fix: add virtual destructors to Action and Loader base classes
  src/lib/src/actions/action.h
  src/lib/src/conditions/loaders/loader.h
Due: Library

fix: wire up missing action and condition loader classes
  src/lib/src/actions/action-loader.cpp
  src/lib/src/conditions/condition-loader.cpp
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/conditions/condition-loader-test.cpp
Due: Library

refactor: remove meaningless explicit from DeleteAction()
  src/lib/src/actions/delete-action.h
Due: Library

refactor: replace QSharedPointer with std::shared_ptr
  src/cli/src/cli.cpp
  src/cli/src/cli.h
  src/drop/src/command-window.cpp
  src/drop/src/command-window.h
  src/drop/src/conflict-window.cpp
  src/drop/src/conflict-window.h
  src/drop/src/drop-window.cpp
  src/drop/src/drop-window.h
  src/drop/tests/conflict-window-test.cpp
  src/gui/src/main-window.cpp
  src/gui/src/main-window.h
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/action-loader.h
  src/lib/src/actions/multiple-action.cpp
  src/lib/src/actions/multiple-action.h
  src/lib/src/conditions/comparators/and-comparator.cpp
  src/lib/src/conditions/comparators/and-comparator.h
  src/lib/src/conditions/comparators/or-comparator.cpp
  src/lib/src/conditions/comparators/or-comparator.h
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/src/conditions/condition.cpp
  src/lib/src/conditions/condition.h
  src/lib/src/profile-loader.cpp
  src/lib/src/profile-loader.h
  src/lib/src/profile.cpp
  src/lib/src/profile.h
  src/lib/src/rules/rule-loader.cpp
  src/lib/src/rules/rule-loader.h
  src/lib/src/rules/rule.cpp
  src/lib/src/rules/rule.h
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/actions/multiple-action-test.cpp
  src/lib/tests/conditions/comparators/and-comparator-test.cpp
  src/lib/tests/conditions/comparators/or-comparator-test.cpp
  src/lib/tests/conditions/condition-loader-test.cpp
  src/lib/tests/profile-loader-test.cpp
  src/lib/tests/profile-test.cpp
  src/lib/tests/rules/rule-loader-test.cpp
  src/lib/tests/rules/rule-test.cpp
Due: Library, CLI, GUI

feat: resolve link destination relative to source file's directory
  src/lib/src/actions/hard-link-action.cpp
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/tests/actions/hard-link-action-test.cpp
  src/lib/tests/actions/symbolic-link-action-test.cpp
Due: Library

feat: add directory creation support to HardLinkAction and SymbolicLinkAction
  docs/configuration/actions/hard-link.md
  docs/configuration/actions/symbolic-link.md
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/hard-link-action.cpp
  src/lib/src/actions/hard-link-action.h
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/src/actions/symbolic-link-action.h
  src/lib/tests/actions/hard-link-action-test.cpp
  src/lib/tests/actions/symbolic-link-action-test.cpp
Due: Library

feat: add special handling for missing Developer Mode for symlinks
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/tests/actions/symbolic-link-action-test.cpp
Due: Library

fix: use correct error in SymbolicLinkAction error message
  src/lib/src/actions/symbolic-link-action.cpp
Due: Library

feat: add error logging on POSIX failure in HardLinkAction
  src/lib/src/actions/hard-link-action.cpp
Due: Library

refactor: replace .count() with .size()
  src/cli/src/cli.cpp
  src/drop/src/command-window.cpp
  src/drop/src/conflict-window.cpp
  src/drop/src/drop-window.cpp
  src/drop/tests/conflict-window-test.cpp
  src/gui/src/main-window.cpp
  src/gui/src/main.cpp
  src/gui/src/players/player-widget.cpp
  src/gui/tests/main-window-test.cpp
  src/lib/tests/profile-loader-test.cpp
  src/lib/tests/rules/rule-loader-test.cpp
Due: Library, CLI, GUI

refactor: add Q_DISABLE_COPY_MOVE to all QObject subclasses
  src/drop/src/command-window.h
  src/drop/src/conflict-window.h
  src/drop/src/drop-window.h
  src/gui/src/main-window.h
Due: GUI

refactor: replace old-style SIGNAL/SLOT macros with pointers
  src/gui/src/players/gif-player.cpp
  src/gui/src/players/video-player.cpp
Due: GUI

refactor: replace #define macros with static constexpr
  src/gui/src/players/video-player.cpp
  src/tests/src/test-utils.h
Due: GUI

docs: fix link/shortcut action docs
  docs/configuration/actions/hard-link.md
  docs/configuration/actions/process.md
  docs/configuration/actions/shortcut.md
  docs/configuration/actions/symbolic-link.md
Due: none

refactor: rename name to destination link and shortcut actions
  src/lib/src/actions/hard-link-action.cpp
  src/lib/src/actions/hard-link-action.h
  src/lib/src/actions/shortcut-action.cpp
  src/lib/src/actions/shortcut-action.h
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/src/actions/symbolic-link-action.h
Due: Library

fix: call unload() at start of GifPlayer::load to prevent leak
  src/gui/src/players/gif-player.cpp
Due: GUI

fix: handle null comparators in condition loader
  src/lib/src/conditions/condition-loader.cpp
Due: Library

fix: return exit code 1 when a file has an issue in CLI
  src/cli/src/cli.cpp
  src/cli/src/cli.h
  src/cli/tests/cli-test.cpp
Due: CLI

refactor: replace QPair with std::pair
  src/drop/src/command-window.h
  src/gui/src/main-window.cpp
  src/gui/src/main-window.h
Due: GUI

refactor: replace Q_NULLPTR with nullptr
  src/drop/src/conflict-window.h
Due: none

refactor: add std::move on local lists passed to constructors
  src/lib/src/actions/action-loader.cpp
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/rules/rule-loader.cpp
Due: Library

feat: add version field validation to profile loader
  docs/configuration/profile.md
  src/lib/src/profile-loader.cpp
Due: Library

refactor: extract shared GUI widgets into shared library
  .github/workflows/build.yml
  src/CMakeLists.txt
  src/drop/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/widgets/CMakeLists.txt
  src/widgets/src/players/gif-player.cpp
  src/widgets/src/players/gif-player.h
  src/widgets/src/players/gif-player.ui
  src/widgets/src/players/image-player.cpp
  src/widgets/src/players/image-player.h
  src/widgets/src/players/image-player.ui
  src/widgets/src/players/player-widget.cpp
  src/widgets/src/players/player-widget.h
  src/widgets/src/players/player-widget.ui
  src/widgets/src/players/player.cpp
  src/widgets/src/players/player.h
  src/widgets/src/players/video-player.cpp
  src/widgets/src/players/video-player.h
  src/widgets/src/players/video-player.ui
  src/widgets/tests/main.cpp
  src/widgets/tests/players/gif-player-test.cpp
  src/widgets/tests/players/image-player-test.cpp
  src/widgets/tests/players/video-player-test.cpp
  src/widgets/tests/resources/100x100-green-static.gif
  src/widgets/tests/resources/100x100-green.gif
  src/widgets/tests/resources/100x100-red.png
Due: GUI

feat: add configurable timeout to ProcessAction
  docs/configuration/actions/process.md
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/process-action.cpp
  src/lib/src/actions/process-action.h
  src/lib/tests/actions/process-action-test.cpp
Due: Library

fix: validate --profile is set in CLI
  src/cli/src/cli.cpp
Due: CLI
