Repository Spark-NF/organizer: changes, and which Codecov flags are due for each by the changed paths.
All: Library, CLI, GUI

feat: introduce filesystem to simulate FS operations
  src/cli/src/cli.cpp
  src/drop/src/command-window.cpp
  src/gui/src/main-window.cpp
  src/lib/src/actions/action.h
  src/lib/src/actions/delete-action.cpp
  src/lib/src/actions/delete-action.h
  src/lib/src/actions/hard-link-action.cpp
  src/lib/src/actions/hard-link-action.h
  src/lib/src/actions/move-action.cpp
  src/lib/src/actions/move-action.h
  src/lib/src/actions/multiple-action.cpp
  src/lib/src/actions/multiple-action.h
  src/lib/src/actions/process-action.cpp
  src/lib/src/actions/process-action.h
  src/lib/src/actions/rename-action.cpp
  src/lib/src/actions/rename-action.h
  src/lib/src/actions/shortcut-action.cpp
  src/lib/src/actions/shortcut-action.h
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/src/actions/symbolic-link-action.h
  src/lib/src/actions/trash-action.cpp
  src/lib/src/actions/trash-action.h
  src/lib/src/filesystem/filesystem.h
  src/lib/src/filesystem/real-filesystem.cpp
  src/lib/src/filesystem/real-filesystem.h
  src/lib/src/filesystem/simulated-filesystem.cpp
  src/lib/src/filesystem/simulated-filesystem.h
  src/lib/src/rules/rule.cpp
  src/lib/src/rules/rule.h
  src/lib/tests/actions/delete-action-test.cpp
  src/lib/tests/actions/hard-link-action-test.cpp
  src/lib/tests/actions/move-action-test.cpp
  src/lib/tests/actions/multiple-action-test.cpp
  src/lib/tests/actions/process-action-test.cpp
  src/lib/tests/actions/rename-action-test.cpp
  src/lib/tests/actions/shortcut-action-test.cpp
  src/lib/tests/actions/symbolic-link-action-test.cpp
  src/lib/tests/actions/trash-action-test.cpp
  src/lib/tests/rules/rule-test.cpp
Due: Library, CLI, GUI

feat: add --dry-run to CLI
  src/cli/src/cli.cpp
  src/cli/src/cli.h
  src/cli/tests/cli-test.cpp
  src/lib/src/actions/rename-action.cpp
  src/lib/src/filesystem/simulated-filesystem.cpp
  src/lib/src/filesystem/simulated-filesystem.h
Due: Library, CLI

fix: store Media in m_results to avoid losing cache
  src/drop/src/command-window.cpp
  src/drop/src/command-window.h
Due: none

fix: always add file to results when conflict dialog is cancelled
  src/drop/src/command-window.cpp
Due: none

feat: warn when loader/comparator types are incompatible
  src/lib/src/conditions/comparators/and-comparator.cpp
  src/lib/src/conditions/comparators/and-comparator.h
  src/lib/src/conditions/comparators/comparator.h
  src/lib/src/conditions/comparators/glob-comparator.cpp
  src/lib/src/conditions/comparators/glob-comparator.h
  src/lib/src/conditions/comparators/or-comparator.cpp
  src/lib/src/conditions/comparators/or-comparator.h
  src/lib/src/conditions/comparators/range-comparator.cpp
  src/lib/src/conditions/comparators/range-comparator.h
  src/lib/src/conditions/comparators/regex-comparator.cpp
  src/lib/src/conditions/comparators/regex-comparator.h
  src/lib/src/conditions/condition.cpp
Due: Library

refactor: replace some loops with std::all_of / std::any_of
  src/lib/src/actions/multiple-action.cpp
  src/lib/src/conditions/comparators/and-comparator.cpp
  src/lib/src/conditions/comparators/glob-comparator.cpp
  src/lib/src/conditions/comparators/or-comparator.cpp
  src/lib/src/rules/rule.cpp
Due: Library

feat: simulate MultipleAction actions before executing
  src/lib/src/actions/multiple-action.cpp
  src/lib/src/actions/multiple-action.h
  src/lib/tests/actions/multiple-action-test.cpp
Due: Library

build: remove unused Qt module dependencies
  src/cli/CMakeLists.txt
  src/drop/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/lib/CMakeLists.txt
Due: Library, CLI, GUI

feat: add append-only operation history log
  src/cli/src/cli.cpp
  src/drop/src/command-window.cpp
  src/gui/src/main-window.cpp
  src/lib/src/operation-logger.cpp
  src/lib/src/operation-logger.h
Due: Library, CLI, GUI

refactor: surface action and profile errors via out-param
  src/cli/src/cli.cpp
  src/drop/src/command-window.cpp
  src/drop/src/drop-window.cpp
  src/gui/src/main-window.cpp
  src/lib/src/actions/action.h
  src/lib/src/actions/delete-action.cpp
  src/lib/src/actions/delete-action.h
  src/lib/src/actions/hard-link-action.cpp
  src/lib/src/actions/hard-link-action.h
  src/lib/src/actions/move-action.cpp
  src/lib/src/actions/move-action.h
  src/lib/src/actions/multiple-action.cpp
  src/lib/src/actions/multiple-action.h
  src/lib/src/actions/process-action.cpp
  src/lib/src/actions/process-action.h
  src/lib/src/actions/rename-action.cpp
  src/lib/src/actions/rename-action.h
  src/lib/src/actions/shortcut-action.cpp
  src/lib/src/actions/shortcut-action.h
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/src/actions/symbolic-link-action.h
  src/lib/src/actions/trash-action.cpp
  src/lib/src/actions/trash-action.h
  src/lib/src/operation-logger.cpp
  src/lib/src/operation-logger.h
  src/lib/src/profile-loader.cpp
  src/lib/src/profile-loader.h
  src/lib/src/rules/rule.cpp
  src/lib/src/rules/rule.h
Due: Library, CLI, GUI

feat: add MimeTypeLoader condition loader
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/loaders/mime-type-loader.cpp
  src/lib/src/conditions/loaders/mime-type-loader.h
  src/lib/tests/conditions/loaders/mime-type-loader-test.cpp
Due: Library

feat: add NotComparator condition comparator
  docs/configuration/conditions/comparator.md
  src/lib/src/conditions/comparators/not-comparator.cpp
  src/lib/src/conditions/comparators/not-comparator.h
  src/lib/src/conditions/condition-loader.cpp
  src/lib/tests/conditions/comparators/not-comparator-test.cpp
Due: Library

feat: add ExtensionLoader condition loader
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/src/conditions/loaders/extension-loader.cpp
  src/lib/src/conditions/loaders/extension-loader.h
  src/lib/tests/conditions/loaders/extension-loader-test.cpp
Due: Library

feat: add stem condition loader
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/loaders/stem-loader.cpp
  src/lib/src/conditions/loaders/stem-loader.h
  src/lib/tests/conditions/loaders/stem-loader-test.cpp
Due: Library

feat: add InComparator condition comparator
  docs/configuration/conditions/comparator.md
  src/lib/src/conditions/comparators/in-comparator.cpp
  src/lib/src/conditions/comparators/in-comparator.h
  src/lib/src/conditions/condition-loader.cpp
  src/lib/tests/conditions/comparators/in-comparator-test.cpp
Due: Library

feat: add directory_name condition loader
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/loaders/directory-name-loader.cpp
  src/lib/src/conditions/loaders/directory-name-loader.h
  src/lib/tests/conditions/loaders/directory-name-loader-test.cpp
Due: Library

feat: add CopyAction
  docs/configuration/actions/copy.md
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/copy-action.cpp
  src/lib/src/actions/copy-action.h
  src/lib/src/filesystem/filesystem.h
  src/lib/src/filesystem/real-filesystem.cpp
  src/lib/src/filesystem/real-filesystem.h
  src/lib/src/filesystem/simulated-filesystem.cpp
  src/lib/src/filesystem/simulated-filesystem.h
  src/lib/tests/actions/copy-action-test.cpp
Due: Library

fix: ensure Media's path is always absolute
  src/lib/src/media.cpp
  src/lib/tests/media-test.cpp
Due: Library

refactor: add LoaderLoader factory class
  src/lib/src/actions/action-loader.cpp
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/src/loader-loader.cpp
  src/lib/src/loader-loader.h
Due: Library

feat: add pre-loading in Rule::execute using Action::requiredKeys
  src/lib/src/actions/action.cpp
  src/lib/src/actions/action.h
  src/lib/src/rules/rule.cpp
Due: Library

fix: update CLI tests to match new error format
  src/cli/tests/cli-test.cpp
Due: CLI

refactor: add fields hint to Loader::load
  src/lib/src/conditions/loaders/created-loader.cpp
  src/lib/src/conditions/loaders/created-loader.h
  src/lib/src/conditions/loaders/directory-loader.cpp
  src/lib/src/conditions/loaders/directory-loader.h
  src/lib/src/conditions/loaders/directory-name-loader.cpp
  src/lib/src/conditions/loaders/directory-name-loader.h
  src/lib/src/conditions/loaders/extension-loader.cpp
  src/lib/src/conditions/loaders/extension-loader.h
  src/lib/src/conditions/loaders/filename-loader.cpp
  src/lib/src/conditions/loaders/filename-loader.h
  src/lib/src/conditions/loaders/filesize-loader.cpp
  src/lib/src/conditions/loaders/filesize-loader.h
  src/lib/src/conditions/loaders/last-modified-loader.cpp
  src/lib/src/conditions/loaders/last-modified-loader.h
  src/lib/src/conditions/loaders/loader.h
  src/lib/src/conditions/loaders/mime-type-loader.cpp
  src/lib/src/conditions/loaders/mime-type-loader.h
  src/lib/src/conditions/loaders/path-loader.cpp
  src/lib/src/conditions/loaders/path-loader.h
  src/lib/src/conditions/loaders/stem-loader.cpp
  src/lib/src/conditions/loaders/stem-loader.h
Due: Library

feat: add TemplateString for {key} substitution
  src/lib/src/template-string.cpp
  src/lib/src/template-string.h
  src/lib/tests/template-string-test.cpp
Due: Library

feat: add template substitution support to actions
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/copy-action.cpp
  src/lib/src/actions/copy-action.h
  src/lib/src/actions/hard-link-action.cpp
  src/lib/src/actions/hard-link-action.h
  src/lib/src/actions/move-action.cpp
  src/lib/src/actions/move-action.h
  src/lib/src/actions/rename-action.cpp
  src/lib/src/actions/rename-action.h
  src/lib/src/actions/shortcut-action.cpp
  src/lib/src/actions/shortcut-action.h
  src/lib/src/actions/symbolic-link-action.cpp
  src/lib/src/actions/symbolic-link-action.h
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/actions/copy-action-test.cpp
  src/lib/tests/actions/hard-link-action-test.cpp
  src/lib/tests/actions/move-action-test.cpp
  src/lib/tests/actions/rename-action-test.cpp
  src/lib/tests/actions/shortcut-action-test.cpp
  src/lib/tests/actions/symbolic-link-action-test.cpp
  src/lib/tests/rules/rule-test.cpp
Due: Library

docs: document the placeholder syntax
  docs/configuration/actions/copy.md
  docs/configuration/actions/hard-link.md
  docs/configuration/actions/move.md
  docs/configuration/actions/rename.md
  docs/configuration/actions/shortcut.md
  docs/configuration/actions/symbolic-link.md
  docs/configuration/conditions/loader.md
Due: none

feat: add filter support to TemplateString
  docs/configuration/actions/move.md
  docs/configuration/conditions/loader.md
  src/lib/src/actions/action-loader.cpp
  src/lib/src/template-string.cpp
  src/lib/src/template-string.h
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/template-string-test.cpp
Due: Library

feat: add datetime format filter
  docs/configuration/conditions/loader.md
  src/lib/src/template-string.cpp
  src/lib/src/template-string.h
  src/lib/tests/template-string-test.cpp
Due: Library

feat: add default value filter
  docs/configuration/conditions/loader.md
  src/lib/src/template-string.cpp
  src/lib/src/template-string.h
  src/lib/tests/template-string-test.cpp
Due: Library

tests: add test for OperationLogger
  src/lib/tests/operation-logger-test.cpp
Due: Library

feat: add recursive support for CLI
  docs/cli/index.md
  src/cli/src/cli.cpp
  src/cli/src/cli.h
  src/cli/tests/cli-test.cpp
Due: CLI

feat: add --quiet, --check, and stdin input to CLI
  docs/cli/index.md
  src/cli/src/cli.cpp
  src/cli/src/cli.h
  src/cli/tests/cli-test.cpp
Due: CLI

feat: propagate load errors through loader chain
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/action-loader.h
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/src/profile-loader.cpp
  src/lib/src/rules/rule-loader.cpp
  src/lib/src/rules/rule-loader.h
  src/lib/tests/actions/action-loader-test.cpp
  src/lib/tests/profile-loader-test.cpp
Due: Library

feat: add EXIF and ID3 loaders
  docs/configuration/conditions/loader.md
  src/lib/CMakeLists.txt
  src/lib/src/conditions/loaders/exif-loader.cpp
  src/lib/src/conditions/loaders/exif-loader.h
  src/lib/src/conditions/loaders/id3-loader.cpp
  src/lib/src/conditions/loaders/id3-loader.h
  src/lib/src/conditions/loaders/processes/exiftool-process.cpp
  src/lib/src/conditions/loaders/processes/exiftool-process.h
  src/lib/src/loader-loader.cpp
  src/lib/tests/conditions/loaders/exif-loader-test.cpp
  src/lib/tests/conditions/loaders/id3-loader-test.cpp
  src/lib/tests/resources/exif-sample.jpg
  src/lib/tests/resources/id3-sample.mp3
Due: Library

refactor: make Condition abstract, rename concrete class to LoaderCondition
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition.cpp
  src/lib/src/conditions/condition.h
  src/lib/src/conditions/loader-condition.cpp
  src/lib/src/conditions/loader-condition.h
  src/lib/src/rules/rule.cpp
  src/lib/tests/conditions/condition-loader-test.cpp
  src/lib/tests/profile-test.cpp
  src/lib/tests/rules/rule-test.cpp
Due: Library

feat: add support for file-content conditions
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/src/conditions/content-condition.cpp
  src/lib/src/conditions/content-condition.h
  src/lib/src/conditions/extractors/plain-text-extractor.cpp
  src/lib/src/conditions/extractors/plain-text-extractor.h
  src/lib/src/conditions/text-extractor.h
  src/lib/tests/conditions/condition-loader-test.cpp
  src/lib/tests/conditions/content-condition-test.cpp
  src/lib/tests/conditions/extractors/plain-text-extractor-test.cpp
Due: Library

refactor: extract PersistentProcess base class, move processes/ to lib/src/
  src/lib/src/processes/exiftool-process.cpp
  src/lib/src/processes/exiftool-process.h
  src/lib/src/processes/persistent-process.cpp
  src/lib/src/processes/persistent-process.h
Due: Library

feat: support dot notation sub-field access in template strings
  src/lib/src/actions/action-loader.cpp
  src/lib/src/actions/action-loader.h
  src/lib/src/rules/rule.cpp
  src/lib/src/template-string.cpp
  src/lib/src/template-string.h
  src/lib/tests/template-string-test.cpp
Due: Library

feat: add process action output variables
  docs/configuration/actions/process.md
  src/lib/src/actions/process-action.cpp
  src/lib/tests/template-string-test.cpp
Due: Library

feat: add empty loader (zero-byte files and empty directories)
  docs/configuration/conditions/loader.md
  src/lib/src/conditions/loaders/empty-loader.cpp
  src/lib/src/conditions/loaders/empty-loader.h
  src/lib/src/loader-loader.cpp
Due: Library

feat: add process condition based on exit code
  docs/configuration/conditions/index.md
  src/lib/src/actions/process-action.cpp
  src/lib/src/conditions/condition-loader.cpp
  src/lib/src/conditions/condition-loader.h
  src/lib/src/conditions/process-condition.cpp
  src/lib/src/conditions/process-condition.h
Due: Library

Path conditions:
  Library: any of: src/lib/**
  CLI: any of: src/cli/**
  GUI: any of: src/gui/**
